# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log

# Python build files
build/
dist/
*.egg-info/

# Generated/cache files
*.bak
